body {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #1b1b1b;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: rgba(84, 91, 122, 0.99);
}
/* default font size */
.fa {
	font-size: 14px;
}
button:hover .fa-heart {
    color: crimson!important;
	transition: all 0.3s ease-out 0s;
}
button:hover .fa-exchange {
    color: rgba(45, 191, 227, 0.85)!important;
	transition: all 0.3s ease-out 0s;
}
/*button i, i {
    color: rgba(0, 0, 0, 0.55);
	transition: all 0.3s ease-out 0.2s;
}
button:focus i, button:hover i, i:focus, i:hover {
    color: rgba(9, 65, 192, 0.75);
	transition: all 0.9s ease-out 0s;
}*/
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #1b1b1b;
}
a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	color: rgba(0, 0, 0, 0.6);
}
a:active, a:focus { outline: none; }
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
.btn:active, .btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;outline:none;}
.btn::-moz-focus-inner{border:0;}
button:active, button:focus{outline:none !important;}
button::-moz-focus-inner{border:0 !important;}
/* input[type="text"]{-moz-user-select:-moz-text;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;}
button[type="text"]{-moz-user-select:-moz-none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;}*/:focus{outline:none;}
:focus{-moz-outline:3px solid #fff !important;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
input[type="radio"]:focus{-moz-outline-radius:12px !important;-moz-outline-offset:0px !important;}
button[type="radio"]:focus{-moz-outline-radius:12px !important;-moz-outline-offset:0px !important;}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;}
.form-control {
    border-radius: 0;
}
.fa-shopping-cart::before {
    padding-right: 5px;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
	margin: 7px 0;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	vertical-align:middle;
}
.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-color:  -moz-use-text-color ;
    border-style: solid none;
    border-width: 1px 0;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background: rgba(9, 65, 192, 0.85) none repeat scroll 0 0;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;*/
}
/* top */
#top {
	background-color: #fff;
	border-bottom: 1px solid #e2e2e2;
	margin:0;
	min-height: 36px;
    padding: 1px 0 0;
	position: relative;
    z-index: 5;
}
header .col-sm-3 {
    text-align: center;
}
#top2 {
	position: relative;
    z-index: 4;
}
#top2 > .container{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.phone {
    margin: -4px 0 0;
}
#top .container {
	padding: 0 20px;
}
.btn.btn-link.dropdown-toggle {
    margin-right: 10px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background: rgba(9, 65, 192, 0.85) none repeat scroll 0 0;
}
.list-inline > .dropdown.open {
    padding-bottom: 5px !important;
}
.dropdown-menu > li > button {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 2px 20px !important;
    white-space: nowrap;
}
#top .btn-link, #top-links li, #top-links a, #top-link li, #top-link a {
	color: #888;
	padding: 7px 3px;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #fff;
}
#top .btn-link:hover, #top-links a:hover, #top-link a:hover {
	color: rgba(9, 65, 192, 0.75);
	transition: all 0.3s ease-out 0s;
}
.dropdown-menu {
    font-size: 12px;
}
.dropdown-menu.dropdown-menu-right > li, .dropdown-menu.dropdown-menu-left > li {
    padding: 0 !important;
}
#top-links .dropdown-menu a, #top-link .dropdown-menu a {
	padding: 3px 20px;
	text-shadow: none;
}
#top-links .dropdown-menu a:hover, #top-link .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-linksб #top-link {
	padding-top: 0;
}
#top-links .list-inline, #top-link .list-inline {
    margin-bottom: 0;
}
#top-links a + a, #top-link a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	display: block;
	margin: 0;
	width: 192px;
	text-align: center;
}

@media (min-width: 767px) {
    .vert-align{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
    }
}

#logo img, #logo a img {
    width: 190px;
}

.data_name {
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}
/* search */
#search {
	margin: 5px 0;
}
#search .input-lg {
	border-radius: 0;
	line-height: 20px;
    height: 30px;
    padding: 0 10px;
}
#search .btn-lg {
	border-radius: 0;
    font-size: 15px;
	height: 30px;
    line-height: 19px;
    padding: 4px 10px 6px;
    text-shadow: 0 1px 0 #fff;
}
/* cart */
#cart > .btn {
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    margin: 5px 0;
    padding: 5px;
}
#cart i {
    color: #f8f8f8;
}
#cart.open i {
    color: rgba(9, 65, 192, 0.65);
}
#cart .fa-times {
    color: #f8f8f8 !important;
}

#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#top3 {
	background-color: #ffffff;
	margin-bottom: 20px;
	z-index: 3;
}
.common-home > #top3, .navbar {
    border-radius: 0;
	margin-bottom: 0
}
#menu {
	background-color: rgba(0, 0, 0, 0);
	min-height: 40px;
    border: 1px solid #1b1b1b;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background:rgba(9, 65, 192, 0.85) none repeat scroll 0 0;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;*/
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
.owl-controls.clickable {
    background: #f8f8f8 none repeat scroll 0 0;
}
/* footer */
footer {
	margin-top: 20px;
	padding-top: 20px;
	background-color: rgba(9, 65, 192, 0.07);
	border-top: 2px solid rgba(9, 65, 192, 0.55);
	color: rgba(84, 91, 122, 0.99);
}
footer > .container > p {
    text-align: right;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid rgba(9, 65, 192, 0.35);
	margin: 0 0 10px;
}
footer a {
	color: rgba(84, 91, 122, 0.99);
	transition: all 0.9s ease-out 0.2s;
}
footer a:hover {
    color: rgba(9, 65, 192, 0.85);
    padding-left: 5px;
    transition: all 0.3s ease-out 0s;
}
footer h5 {
    border-bottom: 1px solid rgba(9, 65, 192, 0.08);
    color: #f8f8f8;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
	margin-top: 0;
    padding: 0 10px 5px;
	color: rgba(9, 65, 192, 0.75);
}
footer .list-unstyled {
    border-top: 1px solid #f3f3f3;
    margin-bottom: 15px;
    padding: 5px 10px 0 20px;
}
.data-footer {
	border-top: 1px solid #f3f3f3;
    padding: 7px 10px 0;
}
.short-description {
    border-top: 1px solid rgba(9, 65, 192, 0.05);
	line-height: 1.6em;
    margin-top: 3px !important;
	margin-bottom: 15px !important;
}
.data-footer p {
    margin: 0;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 15px;
	padding: 8px 0;
	border: 1px solid #f8f8f8;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 3px solid #f8f8f8;
	border-bottom: 3px solid #f8f8f8;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 0;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: rgba(9, 65, 192, 0.85);
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;*/
	border-color: #465ec6 #465ec6 #465ec6;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: rgba(9, 65, 192, 0.95);
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #f8f8f8;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
.product-thumb {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 10px rgba(9, 65, 192, 0.05);
    margin-bottom: 20px;
    opacity: 0.89;
    overflow: auto;
}
.product-thumb:hover {
	opacity: 1;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
.product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
}
.product-thumb h4 {
    border-bottom: 1px solid rgba(9, 65, 192, 0.35);
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-align: center;
}
.product-thumb .caption {
	padding: 0 10px;
	min-height: 145px;
}
.common-home .caption > p, .product-grid .product-thumb .caption > p, #product-card .caption > p, .product-thumb > .caption > p {
    padding: 0 10px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-list  .product-thumb .caption > p {
    max-height: 160px !important;
	min-height: 100px !important;
	min-width: 200px !important;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
    min-height: 180px;
    padding: 0 10px;
}
@media (max-width: 1990px) {
	.phone span, .phone a i {
		font-size: 22px;
		line-height: normal;
	}
	#cart > .btn {
		width: 240px;
	}
	#menu > .navbar-collapse > .navbar-nav {
    float: none;
    text-align: center;
	}
	#menu > .navbar-collapse > ul > li {
		float:none;
		text-align: center;
	}
	.list-unstyled.full-price {
		float: right;
		text-align: right;
	}
	.product-list .product-thumb .rating {
		float: left;
	}
}
@media (max-width: 1200px) {
	div#md-size {
		width: 22%;
	}
	.phone span, .phone a i {
		font-size: 22px;
		line-height: normal;
	}
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
	#cart > .btn {
		width: 240px;
	}
	.data_open {
		font-size: 12px;
	}
	#menu > .navbar-collapse > .navbar-nav {
		float: none;
		text-align: center;
	}
	#menu > .navbar-collapse > ul > li {
		float:none;
		text-align: center;
	}
	.list-unstyled.full-price {
		float: right;
		text-align: right;
	}
	.product-list .product-thumb .rating {
		float: left;
	}
}
@media (max-width: 992px) {
	div#md-size {
		width: 20%;
	}
	.phone span, .phone a i {
		font-size: 20px;
		line-height: normal;
	}
	.data_open {
		font-size: 11px;
	}
	#top3 .container, #menu .navbar-collapse, #menu .navbar-collapse ul {
		padding-right: 10px;
		padding-left: 10px;
		width: 100%;
	}
	#menu > .navbar-collapse > .navbar-nav {
		float: none;
		text-align: center;
	}
	#menu > .navbar-collapse > ul > li {
		float:none;
		text-align: center;
	}
	#menu .nav > li > a {
		font-size: 12px;
		padding: 10px;
	}
	.list-unstyled.full-price {
		float: left;
		text-align: left;
	}
	.product-list .product-thumb .rating {
		float: right;
	}
}
@media (max-width: 915px) {
	#top3 .container, #menu .navbar-collapse, #menu .navbar-collapse ul {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
}
@media (max-width: 888px) {
	#cart > .btn {
		width: 222px;
	}
	div#md-size {
		width: 20%;
	}
	.phone {
		margin: -4px 0 0 5px;
	}
	.phone span, .phone a i {
		font-size: 16px;
		line-height: normal;
	}
	.data_open {
		font-size: 10px;
	}
	#menu .nav > li > a {
		font-size: 11px;
		padding: 10px 8px;
	}
}
@media (max-width: 804px) {
	#cart > .btn {
		width: 202px;
	}
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
@media (max-width: 767px) {
	.phone span, .phone a i {
		font-size: 22px;
		line-height: normal;
	}
	div#md-size {
		margin: 15px 0;
		width: 100%;
	}
	#cart {
		margin-bottom: 15px;
	}
	#cart > .btn {
		width: 100%;
    }
	.data_open {
		font-size: 13px;
	}
	.product-list .product-thumb .image {
		float: left;
		padding: 0 15px;
	}
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
	.product-list .product-thumb .rating {
		float: left;
	}
	.product-list .product-thumb .button-group {
		border-left: none;
	}
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
	#top3 .container, #menu .navbar-collapse, #menu .navbar-collapse ul {
		padding-right: 7px;
		padding-left:15px;
		width: 100%;
	}
	#menu > .navbar-collapse > .navbar-nav, #menu > .navbar-collapse > ul > li {
		float:left !important;
		text-align: left !important;
		width: 100% !important;
	}
	.list-unstyled.full-price {
		float: right;
		text-align: right;
	}
}
@media (max-width: 520px) {
.product-list .product-thumb .image {
    float: none;
    padding: 0 15px;
}
}
@media (max-width: 380px) {
	.list-unstyled.full-price {
		float: left;
		text-align: left;
		width: 100%;
	}
}
/*min*/
@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    clear: none !important;
	}
/* fixed colum left + content + right*/
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}
.product-grid .product-thumb .rating, .common-home .rating, #product-card .caption > .rating {
    left: 0;
    margin: -120px 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.product-search .product-grid .product-thumb .rating {
	margin: -170px 0 0;
}
.product-list .product-thumb {
    min-width: 260px;
}
.product-list .product-thumb .rating {
    padding: 10px;
    width: 116px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-list .product-thumb .caption > .price {
    color: #000000;
    font-size: 18px;
    min-height: 43px !important;
    min-width: 200px;
    text-align: right;
}
.product-thumb .price-new {
	font-weight: 500;
}
.product-thumb .price-old {
	color: lightpink;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 0 none;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: right;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-out 0.2s;
}
.product-thumb .button-group button + button {
	border-left: 0 none;
	width: 20%;
}
.product-thumb .button-group button:hover {
	color: rgba(9, 65, 192, 0.75);
	background-color: #f8f8f8;
	text-decoration: none;
	transition: all 0.9s ease-out 0.2s;
	cursor: pointer;
}
/*.product-thumb .button-group button:hover i {
    color: rgba(9, 65, 192, 0.95);
}*/
.category-page {
    padding: 0;
}
.category-page li {
    display: inline-block;
    margin: 5px 2px 12px;
}
.category-page a {
	background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 3px 7px;
	margin: 0 5px;
	transition: all 0.3s ease-out 0s;
}
.category-page a:hover {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
	transition: all 0.9s ease-out 0s;
}
.product-list > .product-thumb > .caption > p, .product-list > .product-thumb > div > .caption > p {
    margin: 0 0 10px 20px;
}
.product-list > .product-thumb > .caption > h4, .product-list > .product-thumb > div > .caption > h4 {
	margin-left: 15px;
}
#content h1 {
    margin-top: 0;
    text-align: right;
}
.product-name h1 {
    margin-top: 0;
    text-align: right;
}
.breadcrumb, .img-thumbnail, .thumbnail, .form-control, .alert, .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.thumbnails {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
.thumbnail {
    padding: 5px 5px 5px;
    background-color: #fff;
    border: 0 none;
	margin-bottom: 0px;
}
.image-additional > a.thumbnail.active, .image-additional > a.thumbnail:focus, .image-additional > a.thumbnail:hover {
    background: #f8f8f8 none repeat scroll 0 0;
    border-color: #f8f8f8;
}
.thumbnails > li {
    display: inline;
}
.btn-default {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #f5f5f5, #f0f0f0);
    background-repeat: repeat-x;
    border-color: #dddddd;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.thumbnails .image-additional {
    display: inline-block;
	margin-top: 0px;
    width: 19%;
}
.image-additional a {
	padding: 5px;
	margin: 0;
	border: 1px solid #f8f8f8;
}
#product-card .btn-group {
    float: left;
}
.text-products .list-unstyled {
    display: inline-block;
}
.list-unstyled.info-product {
    margin-right: 20px;
}
.list-unstyled.text-discounts {
    width: 100%;
}
.list-unstyled.text-discounts hr {
    margin-top: 10px;
}
#product > hr {
    margin-top: 0;
}
.special-price {
    color: lightpink;
    font-size: 14px;
    text-decoration: line-through;
}
.list-unstyled.full-price h2 {
    margin: 0;
}
.top-group {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
    width: auto;
}
.top-group .rating {
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle;
}
.top-group .rating > p {
    line-height: 15px;
    margin: 0;
    text-align: right;
}
.top-group .rating p .fa {
    vertical-align: baseline;
}
.pluso-share {
    margin: 20px 0;
    text-align: center;
}
#input-quantity, #minus-quantity, #plus-quantity, #button-cart {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-size: 16px;
    height: 38px;
    line-height: 0;
    vertical-align: middle;
    width: auto;
}
#input-quantity {
    width: 50px;
}
#minus-quantity:hover {
	color:red;
	transition: all 0.3s ease-out 0s;
}
#plus-quantity:hover{
	color:green;
	transition: all 0.3s ease-out 0s;
}
.tabs-content {
    display: inline-block;
    width: 100%;
}
/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.owl-controls .owl-page.active span {
    background: rgba(9, 65, 192, 0.85) none repeat scroll 0 0 !important;
}
.owl-controls .owl-page span {
    background: rgba(9, 65, 192, 0.45) none repeat scroll 0 0 !important;
    border-radius: 0 !important;
    height: 8px !important;
    width: 20px !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: rgba(9, 65, 192, 0.75);
}
#updown {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 3.2%;
    z-index: 1;
}
#updown > button, #updown > button > i {
	background-color: rgba(0, 0, 0, 0.0);
	opacity: 0.59;
	margin-top: 90%;
	transition: all 0.9s ease-out 0s;
}
#updown > button:hover, #updown > button > i:hover {
	background-color: rgba(255, 255, 255, 0.85);
	color: rgba(9, 65, 192, 0.85);
	opacity: 1;
}
.updown {
    border: 0 none;
    cursor: pointer;
    display: none;
    height: 100%;
    padding: 0;
    width: 100%;
}
.fa.fa-angle-up, .fa.fa-angle-down {
    font-size: 44px;
	font-weight: bold;
	margin-top: 90%;
	transition: all 0.9s ease-out 0s;
}
#menu > .navbar-collapse > ul > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;

}
.page-404 #content {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 10px solid rgba(9, 65, 192, 0.05);
    box-shadow: 0 0 10px #fff;
    min-height: 130px;
}
.error-not_found .page-404 #content h1 {
    font-size: 100px;
    font-weight: bold;
}
.page-404 #content h1 {
    border-bottom: 1px solid #ececec;
    color: rgba(9, 65, 192, 0.85);
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}
.page-404 #content > p {
    border-top: 1px solid #fff;
    color: #333;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
}
.page-404 .buttons {
    margin: 25px 0;
}
.owl-controls .owl-page span {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border: 1px solid #a6a6a6;
    border-radius: 0;
}
#slideshow0 div > .owl-pagination {
    top: -40px;
}
.owl-carousel .owl-buttons div i {
    color: rgba(9, 65, 192, 0.85);
}
.owl-wrapper-outer {
    border: 0 none !important;
    border-radius: 0 !important;
}
.owl-carousel .owl-buttons .owl-prev {
    left: 30px !important;
}
.owl-carousel .owl-buttons .owl-next {
    right: 30px !important;
}
#carousel0 .owl-buttons .owl-prev {
    left: -15px !important;
    top: 44% !important;
}
#carousel0 .owl-buttons .owl-next {
    right: -15px !important;
    top: 44% !important;
}
.common-home > footer {
    margin-top: 0;
}
#map {
    background-color: rgba(9, 65, 192, 0.07);
    border-top: 2px solid #fff;
    box-shadow: 0 0 10px #ffffff;
    margin-top: 20px;
    padding-top: 10px;
}
.map > h3 {
    margin-top: 0;
}
/*.map > ymaps {
    border-top: 2px solid rgba(9, 65, 192, 0.55);
}
.map > ymaps > ymaps {
    z-index: 9 !important;
}*/
.next-item {
    list-style: outside none none;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
.next-grid {
    display: inline-block;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 32.9%;
	opacity: 0.89;
	transition: all 0.3s ease-out 0.2s;
}
.next-grid:hover {
	opacity: 1;
	transition: all 0.3s ease-out 0.2s;
}
.next-grid-img {
    border: 5px solid #fafafa;
}
.next-grid-img > img {
    background: #edf3ff none repeat scroll 0 0;
    width: 100%;
}
.next-grid-info {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    display: block;
    margin:10px 0;
    padding:20px;
    position: absolute;
    top: 0;
    width: 50%;
}
.next-grid .next-grid-info a {
    bottom: 20px;
    position: absolute;
    right: 20px;
}
.next-grid  .next-grid-info h3 {
    border-bottom: 1px solid;
    color: rgba(9, 65, 192, 0.75);
    font-size: 17px;
    margin: 0;
    padding: 0 0 5px;
}
.next-grid  .next-grid-info span {
    font-size: 10px;
    color: #ed4e6e;
}
.next-grid  .next-grid-info ul {
    padding: 0;
}
.next-grid-info li {
    display: inline;
}
.next-grid  .next-grid-info ul li a:before {
	content: '▪ ';
	color:rgba(9, 92, 192, 1);
	font-size: 13px;
}
.next-grid  .next-grid-info li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    bottom: 0;
    color: rgba(84, 91, 122, 0.99);
    display: block;
    padding: 0 5px;
    position: relative;
    right: 0;
    text-align: left;
}
.next-grid  .next-grid-info li a:hover {
    background: rgba(9, 65, 192, 0.07) none repeat scroll 0 0;
    color: rgba(9, 65, 192, 0.85);
    padding: 0 5px;
}
.next-grid > a {
    bottom: 10%;
    position: absolute;
    right: 10%;
	    background: rgba(9, 92, 192, 1) none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}
.next-grid-info a {
    background: rgba(9, 92, 192, 1) none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}
.next-grid-info a:hover, .next-grid > a:hover {
	background: rgba(9, 72, 192, 1) none repeat scroll 0 0;

}
@media screen and (max-width: 62em) {
	.next-item {
		padding: 10px 0;
	}
	.next-grid {
		padding: 10px;
		width: 49.5%;
	}
}
@media screen and (max-width: 41.5em) {
	.next-item {
		padding: 25px 0;
	}
	.next-grid {
		padding: 10px;
		width: 410px;
		text-align: center;
	}
}
@media screen and (max-width: 31.5em) {
	.next-item {
		padding: 20px;
	}
	.next-grid {
		padding: 10px;
		width: 100%;
		text-align: center;
	}
	.next-item {
		padding: 20px 0;
	}
}
#product-card aside {
    margin-top: 26px;
}
.right-container > h3 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 7px 0 8px;
    text-align: center;
}

/*custom styles*/

.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

/*FEATURED MAIN PAGE*/

.feature-item{
    padding: 20px 10px 0 10px;
}

.col-left .feature-item{
    padding-left: 0;
}
.col-right .feature-item{
    padding-right: 0;
}
.col-left .feature-item:first-child, .col-right .feature-item:first-child{
    padding-top: 0;
}

.feature-item img{
    width: 100%;
}